

/* NC State Colors */
.n_gray-10 {  color: $light-gray;}
.n_gray-25 { color: $moon-gray; }
.n_gray-60 {  color: $mid-gray;}
.n_gray-90 {  color: $dark-gray;}
.n_indigo {  color: $indigo;}
.n_flame {color: $orange;}
.n_reynolds {color: $dark-red;}

.n_text-gray-10 {  color: $light-gray;}
.n_text-gray-25 { color: $moon-gray; }
.n_text-gray-60 {  color: $mid-gray;}
.n_text-gray-90 {  color: $dark-gray;}
.n_text-indigo {  color: $indigo;}
.n_text-flame {color: $orange;}
.n_text-reynolds {color: $dark-red;}

/* Text Color Aliases for Compatability with Hillsborough */

.n_text-white { color: $white}
.n_text-black { color: $black}

/* NC State Background Colors */
.n_bg-gray-10 {  background-color: $light-gray;}
.n_bg-gray-25 { background-color: $moon-gray; }
.n_bg-gray-60 {  background-color: $mid-gray;}
.n_bg-gray-90 {  background-color: $dark-gray;}
.n_bg-indigo {  background-color: $indigo;}
.n_bg-flame {background-color: $orange;}
.n_bg-reynolds {background-color: $dark-red;}

/* NC State Border Colors */
.n_b--gray-10 {  border-color: $light-gray;}
.n_b--gray-25 { border-color: $moon-gray; }
.n_b--gray-60 {  border-color: $mid-gray;}
.n_b--gray-90 {  border-color: $dark-gray;}
.n_b--indigo {  border-color: $indigo;}
.n_b--flame {border-color: $orange;}
.n_b--reynolds {border-color: $dark-red;}

/* NC State Pseudo Colors */
.n_hover-bg-gray-10:hover, .n_hover-bg-gray-10:focus{  background-color: $light-gray;}
.n_hover-bg-gray-25:hover, .n_hover-bg-gray-25:focus{ background-color: $moon-gray; }
.n_hover-bg-gray-60:hover, .n_hover-bg-gray-60:focus{  background-color: $mid-gray;}
.n_hover-bg-gray-90:hover, .n_hover-bg-gray-90:focus{  background-color: $dark-gray;}
.n_hover-bg-indigo:hover, .n_hover-bg-indigo:focus{  background-color: $indigo;}
.n_hover-bg-flame:hover, .n_hover-bg-flame:focus{background-color: $orange;}
.n_hover-bg-reynolds:hover, .n_hover-bg-reynolds:focus{background-color: $dark-red;}

/* Fill for SVG */
.n_fill-red {fill: $red}
.n_fill-yellow {fill: $yellow}
.n_fill-green {fill: $green}
.n_fill-blue {fill: $blue}
.n_fill-black {fill: $black}
.n_fill-white {fill:$white}
.n_fill-gray-10 {  fill: $light-gray;}
.n_fill-gray-25 { fill: $moon-gray; }
.n_fill-gray-60 {  fill: $mid-gray;}
.n_fill-gray-90 {  fill: $dark-gray;}
.n_fill-indigo {  fill: $indigo;}
.n_fill-flame {fill: $orange;}
.n_fill-reynolds {fill: $dark-red;}

.n_hover-fill-red:hover, .n_hover-fill-red:focus  {fill: $red}
.n_hover-fill-yellow:hover, .n_hover-fill-yellow:focus  {fill: $yellow}
.n_hover-fill-green:hover,  .n_hover-fill-green:focus {fill: $green}
.n_hover-fill-blue:hover, .n_hover-fill-blue:focus  {fill: $blue}
.n_hover-fill-black:hover, .n_hover-fill-black:focus  {fill: $black}
.n_hover-fill-white:hover, .n_hover-fill-white:focus  {fill:$white}
.n_hover-fill-gray-10:hover,  .n_hover-fill-gray-10:focus {  fill: $light-gray;}
.n_hover-fill-gray-25:hover,  .n_hover-fill-gray-25:focus { fill: $moon-gray; }
.n_hover-fill-gray-60:hover, .n_hover-fill-gray-60:focus  {  fill: $mid-gray;}
.n_hover-fill-gray-90:hover, .n_hover-fill-gray-90:focus  {  fill: $dark-gray;}
.n_hover-fill-indigo:hover,  .n_hover-fill-indigo:focus {  fill: $indigo;}
.n_hover-fill-flame:hover,  .n_hover-fill-flame:focus {fill: $orange;}
.n_hover-fill-reynolds:hover,  .n_hover-fill-reynolds:focus {fill: $dark-red;}

