
/* Make sure child headings and links follow tachyons classes */
.n_gray-10, .n_gray-25, .n_gray-60, .n_gray-90, .n_indigo, .n_flame, .n_reynolds, .n_red, .n_text-white, .n_text-black, .n_yellow, .n_blue, .n_green {
    h1, h2, h3 {
      color: inherit;
    }
    & > a {
      color: inherit;
      &:hover, &:active, &:focus {
        text-decoration: underline;
        color: inherit;
      }
    }
  }

  /* fix subscript color */
  .components-toolbar__control.components-button:not(:disabled).is-active[data-subscript]:after {
    color: white;
  }

  /* Fix Table Layout in WordPress */
  table.n_fixed {
    position: initial;
  }

  .n_fixed-table {
    position: fixed;
  }

  /* Text Color Aliases for Compatability with Hillsborough */

  .n_text-white { color: $white}
  .n_text-black { color: $black}

  .n_no-underline-hover:hover, .n_no-underline-hover:focus {
    text-decoration: none;
  }

  /* Useful for getting rid of bootstrap styles that add an icon before list items */
  .n_before-none:before {
    display:none;
  }

/* Override Specifically set Font Sizes on Editor Paragraphs */
@each $el in h1 h2 h3 h4 h5 h6 p {
  .edit-post-visual-editor #{$el} {
    @each $class in n_f1 n_f2 n_f3 n_f4 n_f5 n_f6 n_f-5 n_f-6 n_univers n_univers-light n_univers-condensed n_glypha n_glypha-light n_fw1 n_fw2 n_fw3 n_fw4 n_fw5 n_fw6 n_fw7 n_fw8 n_fw9 n_b n_normal n_text-white n_text-black n_text-red n_text-blue n_text-green n_text-yellow n_text-reynolds n_text-indigo  {
      &.#{$class} {
        @extend .#{$class}
      }
    }
    }
  }

@for $i from 1 through 5 {
  .n_s#{$i} {
    @extend .n_height#{$i}, .n_w#{$i}
  }
}
