/* NC State Typfaces */
.n_univers{ font-family: 'UniversRoman', arial, sans-serif;}
.n_univers-light{ font-family: 'UniversLight', arial, sans-serif;}
.n_univers-condensed{ font-family: 'UniversCondensed', arial, sans-serif;}
.n_glypha{ font-family: 'GlyphaRoman', arial, sans-serif;}
.n_glypha-light{ font-family: 'GlyphaLight', arial, sans-serif;}


/* Word Wrapping */
.n_overflow-wrap-break {
    overflow-wrap: break-word;
  }
  
  .n_overflow-wrap {
    overflow-wrap: normal;
  }