
// Converted Variables


// Custom Media Query Variables


/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    tr    = table-row
    tcol  = table-column
    tcolg = table-column-group

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.n_dn {              display: none; }
.n_di {              display: inline; }
.n_db {              display: block; }
.n_dib {             display: inline-block; }
.n_dit {             display: inline-table; }
.n_dt {              display: table; }
.n_dtc {             display: table-cell; }
.n_dt-row {          display: table-row; }
.n_dt-row-group {    display: table-row-group; }
.n_dt-column {       display: table-column; }
.n_dt-column-group { display: table-column-group; }

/*
  This will set table to full width and then
  all cells will be equal width
*/
.n_dt--fixed {
  table-layout: fixed;
  width: 100%;
}

@media #{$breakpoint-not-small} {
  .n_dn-ns {              display: none; }
  .n_di-ns {              display: inline; }
  .n_db-ns {              display: block; }
  .n_dib-ns {             display: inline-block; }
  .n_dit-ns {             display: inline-table; }
  .n_dt-ns {              display: table; }
  .n_dtc-ns {             display: table-cell; }
  .n_dt-row-ns {          display: table-row; }
  .n_dt-row-group-ns {    display: table-row-group; }
  .n_dt-column-ns {       display: table-column; }
  .n_dt-column-group-ns { display: table-column-group; }

  .n_dt--fixed-ns {
    table-layout: fixed;
    width: 100%;
  }
}

@media #{$breakpoint-medium} {
  .n_dn-m {              display: none; }
  .n_di-m {              display: inline; }
  .n_db-m {              display: block; }
  .n_dib-m {             display: inline-block; }
  .n_dit-m {             display: inline-table; }
  .n_dt-m {              display: table; }
  .n_dtc-m {             display: table-cell; }
  .n_dt-row-m {          display: table-row; }
  .n_dt-row-group-m {    display: table-row-group; }
  .n_dt-column-m {       display: table-column; }
  .n_dt-column-group-m { display: table-column-group; }

  .n_dt--fixed-m {
    table-layout: fixed;
    width: 100%;
  }
}

@media #{$breakpoint-large} {
  .n_dn-l {              display: none; }
  .n_di-l {              display: inline; }
  .n_db-l {              display: block; }
  .n_dib-l {             display: inline-block; }
  .n_dit-l {             display: inline-table; }
  .n_dt-l {              display: table; }
  .n_dtc-l {             display: table-cell; }
  .n_dt-row-l {          display: table-row; }
  .n_dt-row-group-l {    display: table-row-group; }
  .n_dt-column-l {       display: table-column; }
  .n_dt-column-group-l { display: table-column-group; }

  .n_dt--fixed-l {
    table-layout: fixed;
    width: 100%;
  }
}

