
// Converted Variables


// Custom Media Query Variables


/*

   LINKS
   Docs: http://tachyons.io/docs/elements/links/

*/

.n_link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.n_link:link,
.n_link:visited {
  transition: color .15s ease-in;
}
.n_link:hover   {
  transition: color .15s ease-in;
}
.n_link:active  {
  transition: color .15s ease-in;
}
.n_link:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

