
// Converted Variables


// Custom Media Query Variables


/*
   NEGATIVE MARGINS

   Base:
     n = negative

   Modifiers:
     a = all
     t = top
     r = right
     b = bottom
     l = left

     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/



.n_na1 { margin: -$spacing-extra-small; }
.n_na2 { margin: -$spacing-small; }
.n_na3 { margin: -$spacing-medium; }
.n_na4 { margin: -$spacing-large; }
.n_na5 { margin: -$spacing-extra-large; }
.n_na6 { margin: -$spacing-extra-extra-large; }
.n_na7 { margin: -$spacing-extra-extra-extra-large; }

.n_nl1 { margin-left: -$spacing-extra-small; }
.n_nl2 { margin-left: -$spacing-small; }
.n_nl3 { margin-left: -$spacing-medium; }
.n_nl4 { margin-left: -$spacing-large; }
.n_nl5 { margin-left: -$spacing-extra-large; }
.n_nl6 { margin-left: -$spacing-extra-extra-large; }
.n_nl7 { margin-left: -$spacing-extra-extra-extra-large; }

.n_nr1 { margin-right: -$spacing-extra-small; }
.n_nr2 { margin-right: -$spacing-small; }
.n_nr3 { margin-right: -$spacing-medium; }
.n_nr4 { margin-right: -$spacing-large; }
.n_nr5 { margin-right: -$spacing-extra-large; }
.n_nr6 { margin-right: -$spacing-extra-extra-large; }
.n_nr7 { margin-right: -$spacing-extra-extra-extra-large; }

.n_nb1 { margin-bottom: -$spacing-extra-small; }
.n_nb2 { margin-bottom: -$spacing-small; }
.n_nb3 { margin-bottom: -$spacing-medium; }
.n_nb4 { margin-bottom: -$spacing-large; }
.n_nb5 { margin-bottom: -$spacing-extra-large; }
.n_nb6 { margin-bottom: -$spacing-extra-extra-large; }
.n_nb7 { margin-bottom: -$spacing-extra-extra-extra-large; }

.n_nt1 { margin-top: -$spacing-extra-small; }
.n_nt2 { margin-top: -$spacing-small; }
.n_nt3 { margin-top: -$spacing-medium; }
.n_nt4 { margin-top: -$spacing-large; }
.n_nt5 { margin-top: -$spacing-extra-large; }
.n_nt6 { margin-top: -$spacing-extra-extra-large; }
.n_nt7 { margin-top: -$spacing-extra-extra-extra-large; }

@media #{$breakpoint-not-small} {

  .n_na1-ns { margin: -$spacing-extra-small; }
  .n_na2-ns { margin: -$spacing-small; }
  .n_na3-ns { margin: -$spacing-medium; }
  .n_na4-ns { margin: -$spacing-large; }
  .n_na5-ns { margin: -$spacing-extra-large; }
  .n_na6-ns { margin: -$spacing-extra-extra-large; }
  .n_na7-ns { margin: -$spacing-extra-extra-extra-large; }

  .n_nl1-ns { margin-left: -$spacing-extra-small; }
  .n_nl2-ns { margin-left: -$spacing-small; }
  .n_nl3-ns { margin-left: -$spacing-medium; }
  .n_nl4-ns { margin-left: -$spacing-large; }
  .n_nl5-ns { margin-left: -$spacing-extra-large; }
  .n_nl6-ns { margin-left: -$spacing-extra-extra-large; }
  .n_nl7-ns { margin-left: -$spacing-extra-extra-extra-large; }

  .n_nr1-ns { margin-right: -$spacing-extra-small; }
  .n_nr2-ns { margin-right: -$spacing-small; }
  .n_nr3-ns { margin-right: -$spacing-medium; }
  .n_nr4-ns { margin-right: -$spacing-large; }
  .n_nr5-ns { margin-right: -$spacing-extra-large; }
  .n_nr6-ns { margin-right: -$spacing-extra-extra-large; }
  .n_nr7-ns { margin-right: -$spacing-extra-extra-extra-large; }

  .n_nb1-ns { margin-bottom: -$spacing-extra-small; }
  .n_nb2-ns { margin-bottom: -$spacing-small; }
  .n_nb3-ns { margin-bottom: -$spacing-medium; }
  .n_nb4-ns { margin-bottom: -$spacing-large; }
  .n_nb5-ns { margin-bottom: -$spacing-extra-large; }
  .n_nb6-ns { margin-bottom: -$spacing-extra-extra-large; }
  .n_nb7-ns { margin-bottom: -$spacing-extra-extra-extra-large; }

  .n_nt1-ns { margin-top: -$spacing-extra-small; }
  .n_nt2-ns { margin-top: -$spacing-small; }
  .n_nt3-ns { margin-top: -$spacing-medium; }
  .n_nt4-ns { margin-top: -$spacing-large; }
  .n_nt5-ns { margin-top: -$spacing-extra-large; }
  .n_nt6-ns { margin-top: -$spacing-extra-extra-large; }
  .n_nt7-ns { margin-top: -$spacing-extra-extra-extra-large; }

}

@media #{$breakpoint-medium} {
  .n_na1-m { margin: -$spacing-extra-small; }
  .n_na2-m { margin: -$spacing-small; }
  .n_na3-m { margin: -$spacing-medium; }
  .n_na4-m { margin: -$spacing-large; }
  .n_na5-m { margin: -$spacing-extra-large; }
  .n_na6-m { margin: -$spacing-extra-extra-large; }
  .n_na7-m { margin: -$spacing-extra-extra-extra-large; }

  .n_nl1-m { margin-left: -$spacing-extra-small; }
  .n_nl2-m { margin-left: -$spacing-small; }
  .n_nl3-m { margin-left: -$spacing-medium; }
  .n_nl4-m { margin-left: -$spacing-large; }
  .n_nl5-m { margin-left: -$spacing-extra-large; }
  .n_nl6-m { margin-left: -$spacing-extra-extra-large; }
  .n_nl7-m { margin-left: -$spacing-extra-extra-extra-large; }

  .n_nr1-m { margin-right: -$spacing-extra-small; }
  .n_nr2-m { margin-right: -$spacing-small; }
  .n_nr3-m { margin-right: -$spacing-medium; }
  .n_nr4-m { margin-right: -$spacing-large; }
  .n_nr5-m { margin-right: -$spacing-extra-large; }
  .n_nr6-m { margin-right: -$spacing-extra-extra-large; }
  .n_nr7-m { margin-right: -$spacing-extra-extra-extra-large; }

  .n_nb1-m { margin-bottom: -$spacing-extra-small; }
  .n_nb2-m { margin-bottom: -$spacing-small; }
  .n_nb3-m { margin-bottom: -$spacing-medium; }
  .n_nb4-m { margin-bottom: -$spacing-large; }
  .n_nb5-m { margin-bottom: -$spacing-extra-large; }
  .n_nb6-m { margin-bottom: -$spacing-extra-extra-large; }
  .n_nb7-m { margin-bottom: -$spacing-extra-extra-extra-large; }

  .n_nt1-m { margin-top: -$spacing-extra-small; }
  .n_nt2-m { margin-top: -$spacing-small; }
  .n_nt3-m { margin-top: -$spacing-medium; }
  .n_nt4-m { margin-top: -$spacing-large; }
  .n_nt5-m { margin-top: -$spacing-extra-large; }
  .n_nt6-m { margin-top: -$spacing-extra-extra-large; }
  .n_nt7-m { margin-top: -$spacing-extra-extra-extra-large; }

}

@media #{$breakpoint-large} {
  .n_na1-l { margin: -$spacing-extra-small; }
  .n_na2-l { margin: -$spacing-small; }
  .n_na3-l { margin: -$spacing-medium; }
  .n_na4-l { margin: -$spacing-large; }
  .n_na5-l { margin: -$spacing-extra-large; }
  .n_na6-l { margin: -$spacing-extra-extra-large; }
  .n_na7-l { margin: -$spacing-extra-extra-extra-large; }

  .n_nl1-l { margin-left: -$spacing-extra-small; }
  .n_nl2-l { margin-left: -$spacing-small; }
  .n_nl3-l { margin-left: -$spacing-medium; }
  .n_nl4-l { margin-left: -$spacing-large; }
  .n_nl5-l { margin-left: -$spacing-extra-large; }
  .n_nl6-l { margin-left: -$spacing-extra-extra-large; }
  .n_nl7-l { margin-left: -$spacing-extra-extra-extra-large; }

  .n_nr1-l { margin-right: -$spacing-extra-small; }
  .n_nr2-l { margin-right: -$spacing-small; }
  .n_nr3-l { margin-right: -$spacing-medium; }
  .n_nr4-l { margin-right: -$spacing-large; }
  .n_nr5-l { margin-right: -$spacing-extra-large; }
  .n_nr6-l { margin-right: -$spacing-extra-extra-large; }
  .n_nr7-l { margin-right: -$spacing-extra-extra-extra-large; }

  .n_nb1-l { margin-bottom: -$spacing-extra-small; }
  .n_nb2-l { margin-bottom: -$spacing-small; }
  .n_nb3-l { margin-bottom: -$spacing-medium; }
  .n_nb4-l { margin-bottom: -$spacing-large; }
  .n_nb5-l { margin-bottom: -$spacing-extra-large; }
  .n_nb6-l { margin-bottom: -$spacing-extra-extra-large; }
  .n_nb7-l { margin-bottom: -$spacing-extra-extra-extra-large; }

  .n_nt1-l { margin-top: -$spacing-extra-small; }
  .n_nt2-l { margin-top: -$spacing-small; }
  .n_nt3-l { margin-top: -$spacing-medium; }
  .n_nt4-l { margin-top: -$spacing-large; }
  .n_nt5-l { margin-top: -$spacing-extra-large; }
  .n_nt6-l { margin-top: -$spacing-extra-extra-large; }
  .n_nt7-l { margin-top: -$spacing-extra-extra-extra-large; }
}
