
// Converted Variables


// Custom Media Query Variables


/*

    OPACITY
    Docs: http://tachyons.io/docs/themes/opacity/

*/

.n_o-100 { opacity: 1;    }
.n_o-90  { opacity: .9;   }
.n_o-80  { opacity: .8;   }
.n_o-70  { opacity: .7;   }
.n_o-60  { opacity: .6;   }
.n_o-50  { opacity: .5;   }
.n_o-40  { opacity: .4;   }
.n_o-30  { opacity: .3;   }
.n_o-20  { opacity: .2;   }
.n_o-10  { opacity: .1;   }
.n_o-05  { opacity: .05;  }
.n_o-025 { opacity: .025; }
.n_o-0   { opacity: 0; }
