
// Converted Variables


// Custom Media Query Variables


/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will
   be set to the current text color.

*/

/* Text colors */

.n_black-90 {         color: $black-90; }
.n_black-80 {         color: $black-80; }
.n_black-70 {         color: $black-70; }
.n_black-60 {         color: $black-60; }
.n_black-50 {         color: $black-50; }
.n_black-40 {         color: $black-40; }
.n_black-30 {         color: $black-30; }
.n_black-20 {         color: $black-20; }
.n_black-10 {         color: $black-10; }
.n_black-05 {         color: $black-05; }

.n_white-90 {         color: $white-90; }
.n_white-80 {         color: $white-80; }
.n_white-70 {         color: $white-70; }
.n_white-60 {         color: $white-60; }
.n_white-50 {         color: $white-50; }
.n_white-40 {         color: $white-40; }
.n_white-30 {         color: $white-30; }
.n_white-20 {         color: $white-20; }
.n_white-10 {         color: $white-10; }

.n_black {         color: $black; }
.n_near-black {    color: $near-black; }
.n_dark-gray {     color: $dark-gray; }
.n_mid-gray {      color: $mid-gray; }
.n_gray {          color: $gray; }
.n_silver  {       color: $silver; }
.n_light-silver {  color: $light-silver; }
.n_moon-gray {     color: $moon-gray; }
.n_light-gray {    color: $light-gray; }
.n_near-white {    color: $near-white; }
.n_white {         color: $white; }

.n_dark-red { color: $dark-red; }
.n_red { color: $red; }
.n_light-red { color: $light-red; }
.n_orange { color: $orange; }
.n_gold { color: $gold; }
.n_yellow { color: $yellow; }
.n_light-yellow { color: $light-yellow; }
.n_purple { color: $purple; }
.n_light-purple { color: $light-purple; }
.n_dark-pink { color: $dark-pink; }
.n_hot-pink { color: $hot-pink; }
.n_pink { color: $pink; }
.n_light-pink { color: $light-pink; }
.n_dark-green { color: $dark-green; }
.n_green { color: $green; }
.n_light-green { color: $light-green; }
.n_navy { color: $navy; }
.n_dark-blue { color: $dark-blue; }
.n_blue { color: $blue; }
.n_light-blue { color: $light-blue; }
.n_lightest-blue { color: $lightest-blue; }
.n_washed-blue { color: $washed-blue; }
.n_washed-green { color: $washed-green; }
.n_washed-yellow { color: $washed-yellow; }
.n_washed-red { color: $washed-red; }
.n_color-inherit { color: inherit; }

.n_bg-black-90 {         background-color: $black-90; }
.n_bg-black-80 {         background-color: $black-80; }
.n_bg-black-70 {         background-color: $black-70; }
.n_bg-black-60 {         background-color: $black-60; }
.n_bg-black-50 {         background-color: $black-50; }
.n_bg-black-40 {         background-color: $black-40; }
.n_bg-black-30 {         background-color: $black-30; }
.n_bg-black-20 {         background-color: $black-20; }
.n_bg-black-10 {         background-color: $black-10; }
.n_bg-black-05 {         background-color: $black-05; }
.n_bg-white-90 {        background-color: $white-90; }
.n_bg-white-80 {        background-color: $white-80; }
.n_bg-white-70 {        background-color: $white-70; }
.n_bg-white-60 {        background-color: $white-60; }
.n_bg-white-50 {        background-color: $white-50; }
.n_bg-white-40 {        background-color: $white-40; }
.n_bg-white-30 {        background-color: $white-30; }
.n_bg-white-20 {        background-color: $white-20; }
.n_bg-white-10 {        background-color: $white-10; }




/* Background colors */

.n_bg-black {         background-color: $black; }
.n_bg-near-black {    background-color: $near-black; }
.n_bg-dark-gray {     background-color: $dark-gray; }
.n_bg-mid-gray {      background-color: $mid-gray; }
.n_bg-gray {          background-color: $gray; }
.n_bg-silver  {       background-color: $silver; }
.n_bg-light-silver {  background-color: $light-silver; }
.n_bg-moon-gray {     background-color: $moon-gray; }
.n_bg-light-gray {    background-color: $light-gray; }
.n_bg-near-white {    background-color: $near-white; }
.n_bg-white {         background-color: $white; }
.n_bg-transparent {   background-color: $transparent; }

.n_bg-dark-red { background-color: $dark-red; }
.n_bg-red { background-color: $red; }
.n_bg-light-red { background-color: $light-red; }
.n_bg-orange { background-color: $orange; }
.n_bg-gold { background-color: $gold; }
.n_bg-yellow { background-color: $yellow; }
.n_bg-light-yellow { background-color: $light-yellow; }
.n_bg-purple { background-color: $purple; }
.n_bg-light-purple { background-color: $light-purple; }
.n_bg-dark-pink { background-color: $dark-pink; }
.n_bg-hot-pink { background-color: $hot-pink; }
.n_bg-pink { background-color: $pink; }
.n_bg-light-pink { background-color: $light-pink; }
.n_bg-dark-green { background-color: $dark-green; }
.n_bg-green { background-color: $green; }
.n_bg-light-green { background-color: $light-green; }
.n_bg-navy { background-color: $navy; }
.n_bg-dark-blue { background-color: $dark-blue; }
.n_bg-blue { background-color: $blue; }
.n_bg-light-blue { background-color: $light-blue; }
.n_bg-lightest-blue { background-color: $lightest-blue; }
.n_bg-washed-blue { background-color: $washed-blue; }
.n_bg-washed-green { background-color: $washed-green; }
.n_bg-washed-yellow { background-color: $washed-yellow; }
.n_bg-washed-red { background-color: $washed-red; }
.n_bg-inherit { background-color: inherit; }

