
// Converted Variables


// Custom Media Query Variables


/* Variables */

/*
   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/

   An eight step powers of two scale ranging from 0 to 16rem.

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left

     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/


.n_pa0 { padding: $spacing-none; }
.n_pa1 { padding: $spacing-extra-small; }
.n_pa2 { padding: $spacing-small; }
.n_pa3 { padding: $spacing-medium; }
.n_pa4 { padding: $spacing-large; }
.n_pa5 { padding: $spacing-extra-large; }
.n_pa6 { padding: $spacing-extra-extra-large; }
.n_pa7 { padding: $spacing-extra-extra-extra-large; }

.n_pl0 { padding-left: $spacing-none; }
.n_pl1 { padding-left: $spacing-extra-small; }
.n_pl2 { padding-left: $spacing-small; }
.n_pl3 { padding-left: $spacing-medium; }
.n_pl4 { padding-left: $spacing-large; }
.n_pl5 { padding-left: $spacing-extra-large; }
.n_pl6 { padding-left: $spacing-extra-extra-large; }
.n_pl7 { padding-left: $spacing-extra-extra-extra-large; }

.n_pr0 { padding-right: $spacing-none; }
.n_pr1 { padding-right: $spacing-extra-small; }
.n_pr2 { padding-right: $spacing-small; }
.n_pr3 { padding-right: $spacing-medium; }
.n_pr4 { padding-right: $spacing-large; }
.n_pr5 { padding-right: $spacing-extra-large; }
.n_pr6 { padding-right: $spacing-extra-extra-large; }
.n_pr7 { padding-right: $spacing-extra-extra-extra-large; }

.n_pb0 { padding-bottom: $spacing-none; }
.n_pb1 { padding-bottom: $spacing-extra-small; }
.n_pb2 { padding-bottom: $spacing-small; }
.n_pb3 { padding-bottom: $spacing-medium; }
.n_pb4 { padding-bottom: $spacing-large; }
.n_pb5 { padding-bottom: $spacing-extra-large; }
.n_pb6 { padding-bottom: $spacing-extra-extra-large; }
.n_pb7 { padding-bottom: $spacing-extra-extra-extra-large; }

.n_pt0 { padding-top: $spacing-none; }
.n_pt1 { padding-top: $spacing-extra-small; }
.n_pt2 { padding-top: $spacing-small; }
.n_pt3 { padding-top: $spacing-medium; }
.n_pt4 { padding-top: $spacing-large; }
.n_pt5 { padding-top: $spacing-extra-large; }
.n_pt6 { padding-top: $spacing-extra-extra-large; }
.n_pt7 { padding-top: $spacing-extra-extra-extra-large; }

.n_pv0 {
  padding-top: $spacing-none;
  padding-bottom: $spacing-none;
}
.n_pv1 {
  padding-top: $spacing-extra-small;
  padding-bottom: $spacing-extra-small;
}
.n_pv2 {
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;
}
.n_pv3 {
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
}
.n_pv4 {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
}
.n_pv5 {
  padding-top: $spacing-extra-large;
  padding-bottom: $spacing-extra-large;
}
.n_pv6 {
  padding-top: $spacing-extra-extra-large;
  padding-bottom: $spacing-extra-extra-large;
}

.n_pv7 {
  padding-top: $spacing-extra-extra-extra-large;
  padding-bottom: $spacing-extra-extra-extra-large;
}

.n_ph0 {
  padding-left: $spacing-none;
  padding-right: $spacing-none;
}

.n_ph1 {
  padding-left: $spacing-extra-small;
  padding-right: $spacing-extra-small;
}

.n_ph2 {
  padding-left: $spacing-small;
  padding-right: $spacing-small;
}

.n_ph3 {
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;
}

.n_ph4 {
  padding-left: $spacing-large;
  padding-right: $spacing-large;
}

.n_ph5 {
  padding-left: $spacing-extra-large;
  padding-right: $spacing-extra-large;
}

.n_ph6 {
  padding-left: $spacing-extra-extra-large;
  padding-right: $spacing-extra-extra-large;
}

.n_ph7 {
  padding-left: $spacing-extra-extra-extra-large;
  padding-right: $spacing-extra-extra-extra-large;
}

.n_ma0  {  margin: $spacing-none; }
.n_ma1 {  margin: $spacing-extra-small; }
.n_ma2  {  margin: $spacing-small; }
.n_ma3  {  margin: $spacing-medium; }
.n_ma4  {  margin: $spacing-large; }
.n_ma5  {  margin: $spacing-extra-large; }
.n_ma6 {  margin: $spacing-extra-extra-large; }
.n_ma7 { margin: $spacing-extra-extra-extra-large; }

.n_ml0  {  margin-left: $spacing-none; }
.n_ml1 {  margin-left: $spacing-extra-small; }
.n_ml2  {  margin-left: $spacing-small; }
.n_ml3  {  margin-left: $spacing-medium; }
.n_ml4  {  margin-left: $spacing-large; }
.n_ml5  {  margin-left: $spacing-extra-large; }
.n_ml6 {  margin-left: $spacing-extra-extra-large; }
.n_ml7 { margin-left: $spacing-extra-extra-extra-large; }

.n_mr0  {  margin-right: $spacing-none; }
.n_mr1 {  margin-right: $spacing-extra-small; }
.n_mr2  {  margin-right: $spacing-small; }
.n_mr3  {  margin-right: $spacing-medium; }
.n_mr4  {  margin-right: $spacing-large; }
.n_mr5  {  margin-right: $spacing-extra-large; }
.n_mr6 {  margin-right: $spacing-extra-extra-large; }
.n_mr7 { margin-right: $spacing-extra-extra-extra-large; }

.n_mb0  {  margin-bottom: $spacing-none; }
.n_mb1 {  margin-bottom: $spacing-extra-small; }
.n_mb2  {  margin-bottom: $spacing-small; }
.n_mb3  {  margin-bottom: $spacing-medium; }
.n_mb4  {  margin-bottom: $spacing-large; }
.n_mb5  {  margin-bottom: $spacing-extra-large; }
.n_mb6 {  margin-bottom: $spacing-extra-extra-large; }
.n_mb7 { margin-bottom: $spacing-extra-extra-extra-large; }

.n_mt0  {  margin-top: $spacing-none; }
.n_mt1 {  margin-top: $spacing-extra-small; }
.n_mt2  {  margin-top: $spacing-small; }
.n_mt3  {  margin-top: $spacing-medium; }
.n_mt4  {  margin-top: $spacing-large; }
.n_mt5  {  margin-top: $spacing-extra-large; }
.n_mt6 {  margin-top: $spacing-extra-extra-large; }
.n_mt7 { margin-top: $spacing-extra-extra-extra-large; }

.n_mv0   {
  margin-top: $spacing-none;
  margin-bottom: $spacing-none;
}
.n_mv1  {
  margin-top: $spacing-extra-small;
  margin-bottom: $spacing-extra-small;
}
.n_mv2   {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
}
.n_mv3   {
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
}
.n_mv4   {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}
.n_mv5   {
  margin-top: $spacing-extra-large;
  margin-bottom: $spacing-extra-large;
}
.n_mv6  {
  margin-top: $spacing-extra-extra-large;
  margin-bottom: $spacing-extra-extra-large;
}
.n_mv7  {
  margin-top: $spacing-extra-extra-extra-large;
  margin-bottom: $spacing-extra-extra-extra-large;
}

.n_mh0   {
  margin-left: $spacing-none;
  margin-right: $spacing-none;
}
.n_mh1   {
  margin-left: $spacing-extra-small;
  margin-right: $spacing-extra-small;
}
.n_mh2   {
  margin-left: $spacing-small;
  margin-right: $spacing-small;
}
.n_mh3   {
  margin-left: $spacing-medium;
  margin-right: $spacing-medium;
}
.n_mh4   {
  margin-left: $spacing-large;
  margin-right: $spacing-large;
}
.n_mh5   {
  margin-left: $spacing-extra-large;
  margin-right: $spacing-extra-large;
}
.n_mh6  {
  margin-left: $spacing-extra-extra-large;
  margin-right: $spacing-extra-extra-large;
}
.n_mh7  {
  margin-left: $spacing-extra-extra-extra-large;
  margin-right: $spacing-extra-extra-extra-large;
}

@media #{$breakpoint-not-small} {
  .n_pa0-ns  {  padding: $spacing-none; }
  .n_pa1-ns {  padding: $spacing-extra-small; }
  .n_pa2-ns  {  padding: $spacing-small; }
  .n_pa3-ns  {  padding: $spacing-medium; }
  .n_pa4-ns  {  padding: $spacing-large; }
  .n_pa5-ns  {  padding: $spacing-extra-large; }
  .n_pa6-ns {  padding: $spacing-extra-extra-large; }
  .n_pa7-ns { padding: $spacing-extra-extra-extra-large; }

  .n_pl0-ns  {  padding-left: $spacing-none; }
  .n_pl1-ns {  padding-left: $spacing-extra-small; }
  .n_pl2-ns  {  padding-left: $spacing-small; }
  .n_pl3-ns  {  padding-left: $spacing-medium; }
  .n_pl4-ns  {  padding-left: $spacing-large; }
  .n_pl5-ns  {  padding-left: $spacing-extra-large; }
  .n_pl6-ns {  padding-left: $spacing-extra-extra-large; }
  .n_pl7-ns { padding-left: $spacing-extra-extra-extra-large; }

  .n_pr0-ns  {  padding-right: $spacing-none; }
  .n_pr1-ns {  padding-right: $spacing-extra-small; }
  .n_pr2-ns  {  padding-right: $spacing-small; }
  .n_pr3-ns  {  padding-right: $spacing-medium; }
  .n_pr4-ns  {  padding-right: $spacing-large; }
  .n_pr5-ns {   padding-right: $spacing-extra-large; }
  .n_pr6-ns {  padding-right: $spacing-extra-extra-large; }
  .n_pr7-ns { padding-right: $spacing-extra-extra-extra-large; }

  .n_pb0-ns  {  padding-bottom: $spacing-none; }
  .n_pb1-ns {  padding-bottom: $spacing-extra-small; }
  .n_pb2-ns  {  padding-bottom: $spacing-small; }
  .n_pb3-ns  {  padding-bottom: $spacing-medium; }
  .n_pb4-ns  {  padding-bottom: $spacing-large; }
  .n_pb5-ns  {  padding-bottom: $spacing-extra-large; }
  .n_pb6-ns {  padding-bottom: $spacing-extra-extra-large; }
  .n_pb7-ns { padding-bottom: $spacing-extra-extra-extra-large; }

  .n_pt0-ns  {  padding-top: $spacing-none; }
  .n_pt1-ns {  padding-top: $spacing-extra-small; }
  .n_pt2-ns  {  padding-top: $spacing-small; }
  .n_pt3-ns  {  padding-top: $spacing-medium; }
  .n_pt4-ns  {  padding-top: $spacing-large; }
  .n_pt5-ns  {  padding-top: $spacing-extra-large; }
  .n_pt6-ns {  padding-top: $spacing-extra-extra-large; }
  .n_pt7-ns { padding-top: $spacing-extra-extra-extra-large; }

  .n_pv0-ns {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
  }
  .n_pv1-ns {
    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
  }
  .n_pv2-ns {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .n_pv3-ns {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }
  .n_pv4-ns {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .n_pv5-ns {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .n_pv6-ns {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;
  }
  .n_pv7-ns {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }
  .n_ph0-ns {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }
  .n_ph1-ns {
    padding-left: $spacing-extra-small;
    padding-right: $spacing-extra-small;
  }
  .n_ph2-ns {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .n_ph3-ns {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .n_ph4-ns {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .n_ph5-ns {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .n_ph6-ns {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .n_ph7-ns {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }

  .n_ma0-ns  {  margin: $spacing-none; }
  .n_ma1-ns {  margin: $spacing-extra-small; }
  .n_ma2-ns  {  margin: $spacing-small; }
  .n_ma3-ns  {  margin: $spacing-medium; }
  .n_ma4-ns  {  margin: $spacing-large; }
  .n_ma5-ns  {  margin: $spacing-extra-large; }
  .n_ma6-ns {  margin: $spacing-extra-extra-large; }
  .n_ma7-ns { margin: $spacing-extra-extra-extra-large; }

  .n_ml0-ns  {  margin-left: $spacing-none; }
  .n_ml1-ns {  margin-left: $spacing-extra-small; }
  .n_ml2-ns  {  margin-left: $spacing-small; }
  .n_ml3-ns  {  margin-left: $spacing-medium; }
  .n_ml4-ns  {  margin-left: $spacing-large; }
  .n_ml5-ns  {  margin-left: $spacing-extra-large; }
  .n_ml6-ns {  margin-left: $spacing-extra-extra-large; }
  .n_ml7-ns { margin-left: $spacing-extra-extra-extra-large; }

  .n_mr0-ns  {  margin-right: $spacing-none; }
  .n_mr1-ns {  margin-right: $spacing-extra-small; }
  .n_mr2-ns  {  margin-right: $spacing-small; }
  .n_mr3-ns  {  margin-right: $spacing-medium; }
  .n_mr4-ns  {  margin-right: $spacing-large; }
  .n_mr5-ns  {  margin-right: $spacing-extra-large; }
  .n_mr6-ns {  margin-right: $spacing-extra-extra-large; }
  .n_mr7-ns { margin-right: $spacing-extra-extra-extra-large; }

  .n_mb0-ns  {  margin-bottom: $spacing-none; }
  .n_mb1-ns {  margin-bottom: $spacing-extra-small; }
  .n_mb2-ns  {  margin-bottom: $spacing-small; }
  .n_mb3-ns  {  margin-bottom: $spacing-medium; }
  .n_mb4-ns  {  margin-bottom: $spacing-large; }
  .n_mb5-ns  {  margin-bottom: $spacing-extra-large; }
  .n_mb6-ns {  margin-bottom: $spacing-extra-extra-large; }
  .n_mb7-ns { margin-bottom: $spacing-extra-extra-extra-large; }

  .n_mt0-ns  {  margin-top: $spacing-none; }
  .n_mt1-ns {  margin-top: $spacing-extra-small; }
  .n_mt2-ns  {  margin-top: $spacing-small; }
  .n_mt3-ns  {  margin-top: $spacing-medium; }
  .n_mt4-ns  {  margin-top: $spacing-large; }
  .n_mt5-ns  {  margin-top: $spacing-extra-large; }
  .n_mt6-ns {  margin-top: $spacing-extra-extra-large; }
  .n_mt7-ns { margin-top: $spacing-extra-extra-extra-large; }

  .n_mv0-ns   {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }
  .n_mv1-ns  {
    margin-top: $spacing-extra-small;
    margin-bottom: $spacing-extra-small;
  }
  .n_mv2-ns   {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
  .n_mv3-ns   {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  .n_mv4-ns   {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
  .n_mv5-ns   {
    margin-top: $spacing-extra-large;
    margin-bottom: $spacing-extra-large;
  }
  .n_mv6-ns  {
    margin-top: $spacing-extra-extra-large;
    margin-bottom: $spacing-extra-extra-large;
  }
  .n_mv7-ns  {
    margin-top: $spacing-extra-extra-extra-large;
    margin-bottom: $spacing-extra-extra-extra-large;
  }

  .n_mh0-ns   {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
  }
  .n_mh1-ns   {
    margin-left: $spacing-extra-small;
    margin-right: $spacing-extra-small;
  }
  .n_mh2-ns   {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }
  .n_mh3-ns   {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .n_mh4-ns   {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
  .n_mh5-ns   {
    margin-left: $spacing-extra-large;
    margin-right: $spacing-extra-large;
  }
  .n_mh6-ns  {
    margin-left: $spacing-extra-extra-large;
    margin-right: $spacing-extra-extra-large;
  }
  .n_mh7-ns  {
    margin-left: $spacing-extra-extra-extra-large;
    margin-right: $spacing-extra-extra-extra-large;
  }

}

@media #{$breakpoint-medium} {
  .n_pa0-m  {  padding: $spacing-none; }
  .n_pa1-m {  padding: $spacing-extra-small; }
  .n_pa2-m  {  padding: $spacing-small; }
  .n_pa3-m  {  padding: $spacing-medium; }
  .n_pa4-m  {  padding: $spacing-large; }
  .n_pa5-m  {  padding: $spacing-extra-large; }
  .n_pa6-m {  padding: $spacing-extra-extra-large; }
  .n_pa7-m { padding: $spacing-extra-extra-extra-large; }

  .n_pl0-m  {  padding-left: $spacing-none; }
  .n_pl1-m {  padding-left: $spacing-extra-small; }
  .n_pl2-m  {  padding-left: $spacing-small; }
  .n_pl3-m  {  padding-left: $spacing-medium; }
  .n_pl4-m  {  padding-left: $spacing-large; }
  .n_pl5-m  {  padding-left: $spacing-extra-large; }
  .n_pl6-m {  padding-left: $spacing-extra-extra-large; }
  .n_pl7-m { padding-left: $spacing-extra-extra-extra-large; }

  .n_pr0-m  {  padding-right: $spacing-none; }
  .n_pr1-m {  padding-right: $spacing-extra-small; }
  .n_pr2-m  {  padding-right: $spacing-small; }
  .n_pr3-m  {  padding-right: $spacing-medium; }
  .n_pr4-m  {  padding-right: $spacing-large; }
  .n_pr5-m  {  padding-right: $spacing-extra-large; }
  .n_pr6-m {  padding-right: $spacing-extra-extra-large; }
  .n_pr7-m { padding-right: $spacing-extra-extra-extra-large; }

  .n_pb0-m  {  padding-bottom: $spacing-none; }
  .n_pb1-m {  padding-bottom: $spacing-extra-small; }
  .n_pb2-m  {  padding-bottom: $spacing-small; }
  .n_pb3-m  {  padding-bottom: $spacing-medium; }
  .n_pb4-m  {  padding-bottom: $spacing-large; }
  .n_pb5-m  {  padding-bottom: $spacing-extra-large; }
  .n_pb6-m {  padding-bottom: $spacing-extra-extra-large; }
  .n_pb7-m { padding-bottom: $spacing-extra-extra-extra-large; }

  .n_pt0-m  {  padding-top: $spacing-none; }
  .n_pt1-m {  padding-top: $spacing-extra-small; }
  .n_pt2-m  {  padding-top: $spacing-small; }
  .n_pt3-m  {  padding-top: $spacing-medium; }
  .n_pt4-m  {  padding-top: $spacing-large; }
  .n_pt5-m  {  padding-top: $spacing-extra-large; }
  .n_pt6-m {  padding-top: $spacing-extra-extra-large; }
  .n_pt7-m { padding-top: $spacing-extra-extra-extra-large; }

  .n_pv0-m {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
  }
  .n_pv1-m {
    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
  }
  .n_pv2-m {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .n_pv3-m {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }
  .n_pv4-m {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .n_pv5-m {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .n_pv6-m {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;
  }
  .n_pv7-m {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }

  .n_ph0-m {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }
  .n_ph1-m {
    padding-left: $spacing-extra-small;
    padding-right: $spacing-extra-small;
  }
  .n_ph2-m {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .n_ph3-m {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .n_ph4-m {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .n_ph5-m {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .n_ph6-m {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .n_ph7-m {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }

  .n_ma0-m  {  margin: $spacing-none; }
  .n_ma1-m {  margin: $spacing-extra-small; }
  .n_ma2-m  {  margin: $spacing-small; }
  .n_ma3-m  {  margin: $spacing-medium; }
  .n_ma4-m  {  margin: $spacing-large; }
  .n_ma5-m  {  margin: $spacing-extra-large; }
  .n_ma6-m {  margin: $spacing-extra-extra-large; }
  .n_ma7-m { margin: $spacing-extra-extra-extra-large; }

  .n_ml0-m  {  margin-left: $spacing-none; }
  .n_ml1-m {  margin-left: $spacing-extra-small; }
  .n_ml2-m  {  margin-left: $spacing-small; }
  .n_ml3-m  {  margin-left: $spacing-medium; }
  .n_ml4-m  {  margin-left: $spacing-large; }
  .n_ml5-m  {  margin-left: $spacing-extra-large; }
  .n_ml6-m {  margin-left: $spacing-extra-extra-large; }
  .n_ml7-m { margin-left: $spacing-extra-extra-extra-large; }

  .n_mr0-m  {  margin-right: $spacing-none; }
  .n_mr1-m {  margin-right: $spacing-extra-small; }
  .n_mr2-m  {  margin-right: $spacing-small; }
  .n_mr3-m  {  margin-right: $spacing-medium; }
  .n_mr4-m  {  margin-right: $spacing-large; }
  .n_mr5-m  {  margin-right: $spacing-extra-large; }
  .n_mr6-m {  margin-right: $spacing-extra-extra-large; }
  .n_mr7-m { margin-right: $spacing-extra-extra-extra-large; }

  .n_mb0-m  {  margin-bottom: $spacing-none; }
  .n_mb1-m {  margin-bottom: $spacing-extra-small; }
  .n_mb2-m  {  margin-bottom: $spacing-small; }
  .n_mb3-m  {  margin-bottom: $spacing-medium; }
  .n_mb4-m  {  margin-bottom: $spacing-large; }
  .n_mb5-m  {  margin-bottom: $spacing-extra-large; }
  .n_mb6-m {  margin-bottom: $spacing-extra-extra-large; }
  .n_mb7-m { margin-bottom: $spacing-extra-extra-extra-large; }

  .n_mt0-m  {  margin-top: $spacing-none; }
  .n_mt1-m {  margin-top: $spacing-extra-small; }
  .n_mt2-m  {  margin-top: $spacing-small; }
  .n_mt3-m  {  margin-top: $spacing-medium; }
  .n_mt4-m  {  margin-top: $spacing-large; }
  .n_mt5-m  {  margin-top: $spacing-extra-large; }
  .n_mt6-m {  margin-top: $spacing-extra-extra-large; }
  .n_mt7-m { margin-top: $spacing-extra-extra-extra-large; }

  .n_mv0-m {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }
  .n_mv1-m {
    margin-top: $spacing-extra-small;
    margin-bottom: $spacing-extra-small;
  }
  .n_mv2-m {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
  .n_mv3-m {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  .n_mv4-m {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
  .n_mv5-m {
    margin-top: $spacing-extra-large;
    margin-bottom: $spacing-extra-large;
  }
  .n_mv6-m {
    margin-top: $spacing-extra-extra-large;
    margin-bottom: $spacing-extra-extra-large;
  }
  .n_mv7-m {
    margin-top: $spacing-extra-extra-extra-large;
    margin-bottom: $spacing-extra-extra-extra-large;
  }

  .n_mh0-m {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
  }
  .n_mh1-m {
    margin-left: $spacing-extra-small;
    margin-right: $spacing-extra-small;
  }
  .n_mh2-m {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }
  .n_mh3-m {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .n_mh4-m {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
  .n_mh5-m {
    margin-left: $spacing-extra-large;
    margin-right: $spacing-extra-large;
  }
  .n_mh6-m {
    margin-left: $spacing-extra-extra-large;
    margin-right: $spacing-extra-extra-large;
  }
  .n_mh7-m {
    margin-left: $spacing-extra-extra-extra-large;
    margin-right: $spacing-extra-extra-extra-large;
  }

}

@media #{$breakpoint-large} {
  .n_pa0-l  {  padding: $spacing-none; }
  .n_pa1-l {  padding: $spacing-extra-small; }
  .n_pa2-l  {  padding: $spacing-small; }
  .n_pa3-l  {  padding: $spacing-medium; }
  .n_pa4-l  {  padding: $spacing-large; }
  .n_pa5-l  {  padding: $spacing-extra-large; }
  .n_pa6-l {  padding: $spacing-extra-extra-large; }
  .n_pa7-l { padding: $spacing-extra-extra-extra-large; }

  .n_pl0-l  {  padding-left: $spacing-none; }
  .n_pl1-l {  padding-left: $spacing-extra-small; }
  .n_pl2-l  {  padding-left: $spacing-small; }
  .n_pl3-l  {  padding-left: $spacing-medium; }
  .n_pl4-l  {  padding-left: $spacing-large; }
  .n_pl5-l  {  padding-left: $spacing-extra-large; }
  .n_pl6-l {  padding-left: $spacing-extra-extra-large; }
  .n_pl7-l { padding-left: $spacing-extra-extra-extra-large; }

  .n_pr0-l  {  padding-right: $spacing-none; }
  .n_pr1-l {  padding-right: $spacing-extra-small; }
  .n_pr2-l  {  padding-right: $spacing-small; }
  .n_pr3-l  {  padding-right: $spacing-medium; }
  .n_pr4-l  {  padding-right: $spacing-large; }
  .n_pr5-l  {  padding-right: $spacing-extra-large; }
  .n_pr6-l {  padding-right: $spacing-extra-extra-large; }
  .n_pr7-l { padding-right: $spacing-extra-extra-extra-large; }

  .n_pb0-l  {  padding-bottom: $spacing-none; }
  .n_pb1-l {  padding-bottom: $spacing-extra-small; }
  .n_pb2-l  {  padding-bottom: $spacing-small; }
  .n_pb3-l  {  padding-bottom: $spacing-medium; }
  .n_pb4-l  {  padding-bottom: $spacing-large; }
  .n_pb5-l  {  padding-bottom: $spacing-extra-large; }
  .n_pb6-l {  padding-bottom: $spacing-extra-extra-large; }
  .n_pb7-l { padding-bottom: $spacing-extra-extra-extra-large; }

  .n_pt0-l  {  padding-top: $spacing-none; }
  .n_pt1-l {  padding-top: $spacing-extra-small; }
  .n_pt2-l  {  padding-top: $spacing-small; }
  .n_pt3-l  {  padding-top: $spacing-medium; }
  .n_pt4-l  {  padding-top: $spacing-large; }
  .n_pt5-l  {  padding-top: $spacing-extra-large; }
  .n_pt6-l {  padding-top: $spacing-extra-extra-large; }
  .n_pt7-l { padding-top: $spacing-extra-extra-extra-large; }

  .n_pv0-l {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
  }
  .n_pv1-l {
    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
  }
  .n_pv2-l {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .n_pv3-l {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }
  .n_pv4-l {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .n_pv5-l {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .n_pv6-l {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;
  }
  .n_pv7-l {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }

  .n_ph0-l {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }
  .n_ph1-l {
    padding-left: $spacing-extra-small;
    padding-right: $spacing-extra-small;
  }
  .n_ph2-l {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .n_ph3-l {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .n_ph4-l {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .n_ph5-l {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .n_ph6-l {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .n_ph7-l {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }

  .n_ma0-l  {  margin: $spacing-none; }
  .n_ma1-l {  margin: $spacing-extra-small; }
  .n_ma2-l  {  margin: $spacing-small; }
  .n_ma3-l  {  margin: $spacing-medium; }
  .n_ma4-l  {  margin: $spacing-large; }
  .n_ma5-l  {  margin: $spacing-extra-large; }
  .n_ma6-l {  margin: $spacing-extra-extra-large; }
  .n_ma7-l { margin: $spacing-extra-extra-extra-large; }

  .n_ml0-l  {  margin-left: $spacing-none; }
  .n_ml1-l {  margin-left: $spacing-extra-small; }
  .n_ml2-l  {  margin-left: $spacing-small; }
  .n_ml3-l  {  margin-left: $spacing-medium; }
  .n_ml4-l  {  margin-left: $spacing-large; }
  .n_ml5-l  {  margin-left: $spacing-extra-large; }
  .n_ml6-l {  margin-left: $spacing-extra-extra-large; }
  .n_ml7-l { margin-left: $spacing-extra-extra-extra-large; }

  .n_mr0-l  {  margin-right: $spacing-none; }
  .n_mr1-l {  margin-right: $spacing-extra-small; }
  .n_mr2-l  {  margin-right: $spacing-small; }
  .n_mr3-l  {  margin-right: $spacing-medium; }
  .n_mr4-l  {  margin-right: $spacing-large; }
  .n_mr5-l  {  margin-right: $spacing-extra-large; }
  .n_mr6-l {  margin-right: $spacing-extra-extra-large; }
  .n_mr7-l { margin-right: $spacing-extra-extra-extra-large; }

  .n_mb0-l  {  margin-bottom: $spacing-none; }
  .n_mb1-l {  margin-bottom: $spacing-extra-small; }
  .n_mb2-l  {  margin-bottom: $spacing-small; }
  .n_mb3-l  {  margin-bottom: $spacing-medium; }
  .n_mb4-l  {  margin-bottom: $spacing-large; }
  .n_mb5-l  {  margin-bottom: $spacing-extra-large; }
  .n_mb6-l {  margin-bottom: $spacing-extra-extra-large; }
  .n_mb7-l { margin-bottom: $spacing-extra-extra-extra-large; }

  .n_mt0-l  {  margin-top: $spacing-none; }
  .n_mt1-l {  margin-top: $spacing-extra-small; }
  .n_mt2-l  {  margin-top: $spacing-small; }
  .n_mt3-l  {  margin-top: $spacing-medium; }
  .n_mt4-l  {  margin-top: $spacing-large; }
  .n_mt5-l  {  margin-top: $spacing-extra-large; }
  .n_mt6-l {  margin-top: $spacing-extra-extra-large; }
  .n_mt7-l { margin-top: $spacing-extra-extra-extra-large; }

  .n_mv0-l {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }
  .n_mv1-l {
    margin-top: $spacing-extra-small;
    margin-bottom: $spacing-extra-small;
  }
  .n_mv2-l {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
  .n_mv3-l {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  .n_mv4-l {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
  .n_mv5-l {
    margin-top: $spacing-extra-large;
    margin-bottom: $spacing-extra-large;
  }
  .n_mv6-l {
    margin-top: $spacing-extra-extra-large;
    margin-bottom: $spacing-extra-extra-large;
  }
  .n_mv7-l {
    margin-top: $spacing-extra-extra-extra-large;
    margin-bottom: $spacing-extra-extra-extra-large;
  }

  .n_mh0-l {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
  }
  .n_mh1-l {
    margin-left: $spacing-extra-small;
    margin-right: $spacing-extra-small;
  }
  .n_mh2-l {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }
  .n_mh3-l {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .n_mh4-l {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
  .n_mh5-l {
    margin-left: $spacing-extra-large;
    margin-right: $spacing-extra-large;
  }
  .n_mh6-l {
    margin-left: $spacing-extra-extra-large;
    margin-right: $spacing-extra-extra-large;
  }
  .n_mh7-l {
    margin-left: $spacing-extra-extra-extra-large;
    margin-right: $spacing-extra-extra-extra-large;
  }
}
