
// Converted Variables


// Custom Media Query Variables


/*

   UTILITIES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Equivalent to .n_overflow-y-scroll */
.n_overflow-container {
  overflow-y: scroll;
}

.n_center {
  margin-right: auto;
  margin-left: auto;
}

.n_mr-auto { margin-right: auto; }
.n_ml-auto { margin-left:  auto; }

@media #{$breakpoint-not-small}{
  .n_center-ns {
    margin-right: auto;
    margin-left: auto;
  }
  .n_mr-auto-ns { margin-right: auto; }
  .n_ml-auto-ns { margin-left:  auto; }
}

@media #{$breakpoint-medium}{
  .n_center-m {
    margin-right: auto;
    margin-left: auto;
  }
  .n_mr-auto-m { margin-right: auto; }
  .n_ml-auto-m { margin-left:  auto; }
}

@media #{$breakpoint-large}{
  .n_center-l {
    margin-right: auto;
    margin-left: auto;
  }
  .n_mr-auto-l { margin-right: auto; }
  .n_ml-auto-l { margin-left:  auto; }
}
