
// Converted Variables


// Custom Media Query Variables


/*

   WHITE SPACE

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/


.n_ws-normal { white-space: normal; }
.n_nowrap { white-space: nowrap; }
.n_pre { white-space: pre; }

@media #{$breakpoint-not-small} {
  .n_ws-normal-ns { white-space: normal; }
  .n_nowrap-ns { white-space: nowrap; }
  .n_pre-ns { white-space: pre; }
}

@media #{$breakpoint-medium} {
  .n_ws-normal-m { white-space: normal; }
  .n_nowrap-m { white-space: nowrap; }
  .n_pre-m { white-space: pre; }
}

@media #{$breakpoint-large} {
  .n_ws-normal-l { white-space: normal; }
  .n_nowrap-l { white-space: nowrap; }
  .n_pre-l { white-space: pre; }
}

